body {
  padding: 0;
  margin: 0;
}
.card{
  display: inline-block;
}
.input-container {
  /* height: 100%; */
  /* display: flex;
  justify-content: center;
  align-items: center; */
  min-width: 75vw;
  margin: auto;
  text-align: center;
}

.input-container .card {
  margin: auto;
  margin-bottom : 100px;
  text-align: left;
}
.input-container{
  margin-top: 100px;

}

.input-item {
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.input-submit {
  width: 100%;
  border: 0;
  padding: 10px;
  cursor: pointer;
}

.center-button {
  height: 40px;
  width: 60px;
  /* position: absolute; */
  bottom: 10px;
  left: calc(50% - 30px);
  font-size: 20px;
  font-weight: bold;
  z-index: 1000;
  border-radius: 5px;
}


/* height: 40px;
width: 60px;
font-size: 20px;
font-weight: bold;
z-index: 1000;
border-radius: 5px;
margin: auto;
margin-bottom: 10px;
text-align: center; */